/* 防止反色以杜绝出现奇怪的显示问题 */
:root {
    color-scheme: light !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light !important;
    }
}

/* 自定义字体 */
@font-face {
    font-family: 'Minecraft Ten';
    src: url("../fonts/Minecraft-Ten.otf") format('opentype');
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url("../fonts/NotoSans-Bold.ttf") format('truetype');
}

/* 页面选择事件 */
::selection {
    background-color: transparent;
    color: inherit;
}

/* 禁用长按菜单 */
* {
    touch-action: manipulation;
}

.flex {
    display: flex;
}

.wrap_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 总体样式 */
body {
    font-family: "NotoSans Bold", sans-serif;
    background: #48494A;
    margin: 0;
    min-width: 330px;
    overflow-x: hidden;
    -webkit-user-select: none;
}

/* 顶部标题栏 */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    min-width: 330px;
    height: 40px;
    background-color: #E6E8EB;
    border-bottom: 4px solid #B1B2B5;
    z-index: 9;
}

/* 顶栏元素 */
.header_item, .header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header_item {
    cursor: pointer;
}

.header_item:hover {
    background-color: #F4F6F9;
}

.header_item:active {
    background-color: #D0D1D4;
}

/* 顶栏左侧按钮 */
.header_item_left {
    width: 42px;
    box-shadow: inset -2px 0 #FFFFFF;
    border-right: 2px solid #A1A3A5;
}

/* 顶栏右侧按钮 */
.header_item_right {
    width: 42px;
    box-shadow: inset 2px 0 #A1A3A5;
    border-left: 2px solid #FFFFFF;
}

.header_right_blank {
    width: 44px;
    box-shadow: unset;
    border: 0;
    cursor: default;
}

.header_right_blank:hover, .header_right_blank:active {
    background-color: #E6E8EB;
}

/* 顶栏按钮图标 */

.back_icon, .menu_icon, .repo_icon, .debug_icon, .settings_icon, .feedback_icon {
    height: 32px;
}

.menu_icon, .back_icon {
    padding: 4px 6px 4px 4px;
}

.repo_icon, .debug_icon, .settings_icon, .feedback_icon {
    padding: 4px 4px 4px 6px;
}

/* 标题区域 */
.title_icon {
    height: 26px;
    width: 26px;
    padding-right: 8px;
}

/* 标题图标 */
.header_logo {
    flex: 1;
}

/* 标题文字 */
.header_title {
    height: 38px;
    font-family: "Minecraft Ten", sans-serif;
    font-size: 30px;
}

/* 主体框架 */
scroll-container {
    display: grid;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: calc(100% - 44px);
    top: 44px;
    width: 100%;
}

main {
    width: 100vw;
    min-width: 330px;
    color: #FFFFFF;
}

/* 主体框架滚动条 */
custom-scrollbar {
    display: block;
    position: absolute;
    top: 44px;
    right: 0;
    width: 22px;
    opacity: 1;
    transition: opacity 1s;
    overflow-y: hidden;
}

custom-scrollbar-track {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 6px;
    height: calc(100% - 16px);
    background-color: #58585A;
    overflow-y: hidden;
}

custom-scrollbar-thumb {
    display: block;
    position: absolute;
    right: 3px;
    width: 12px;
    min-height: 20px;
    background-color: #E6E8EB;
    border: 2px solid #000000;
    box-shadow: inset 0 -4px #58585A, inset 0 -7px #F9FAFA, inset 3px 3px #F9FAFA, inset -3px 0 #F9FAFA;
    cursor: pointer;
    overflow-y: hidden;
}

/* Tab Bar组件 */
.tab_bar_area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 330px;
    z-index: 9;
}

.tab_bar_area.main_tab_bar {
    height: 52px;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
}

.tab_bar_with_banner.main_tab_bar {
    top: 96px;
}

.tab_bar {
    position: relative;
    width: calc(100% - 40px);
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.tab_bar_btn {
    font-family: "NotoSans Bold", sans-serif;
    flex: 1;
    height: 40px;
    justify-self: center;
    color: white;
    background-color: #48494A;
    transition: background-color 0.3s;
    padding-bottom: 6px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
    position: relative;
    cursor: pointer;
}

.tab_bar_btn:hover {
    background-color: #58585A;
    box-shadow: inset 0 -4px #313233, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn:active {
    margin-top: 4px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
}

.tab_bar_btn::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s;
}

.tab_bar_btn.active {
    margin-top: 4px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #313233;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px rgba(255, 255, 255, 0.1);
    cursor: default;
}

.tab_bar_btn:hover::after,
.tab_bar_btn.active::after {
    transform: translateX(-50%) scaleX(1);
    width: 20%;
}

.tab_bar_btn.no_active:hover::after,
.tab_bar_btn.no_active::after {
    height: 4px;
}

.tab_bar_btn.no_active:active::after {
    height: 3px;
}

.tab_content {
    display: none;
    color: #FFFFFF;
    min-height: 60px;
}

.tab_content.active {
    display: block;
}

.tab_sidebar.no_active {
    display: none;
}

.tab_sidebar.active {
    display: block;
}

/* 主体块 */
.main {
    height: auto;
    min-height: 66px;
    display: grid;
    text-align: center;
    align-items: center;
    padding: 8px 0;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
}

#holiday_tip1, #holiday_tip2 {
    display: none;
}

/* 主体上下提示 */
.main-header, .main-footer {
    font-family: "Minecraft Ten", sans-serif;
}

.header_notice_title, .choose_edition_title, .footer_notice_title {
    font-size: 28px;
}

.header_notice_body, .footer_notice_body {
    justify-content: center;
}

/* 预览提示 */
.preview_block {
    font-family: "NotoSans Bold", sans-serif;
}

.preview_title {
    font-size: 18px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
}

.preview_detail {
    font-size: 16px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
}

/* 加载中图标 */
.loading_icon {
    padding: 10px;
    height: 32px;
    width: 32px;
}

/* 主体文字 */
.title1, .title2, .title3, .description1, .description2 {
    color: #FFFFFF;
}

.title1, .title2, .title3 {
    font-weight: unset;
    margin: 4px 0;
}

.title1 {
    font-size: 26px;
    font-family: "Minecraft Seven", sans-serif;
}

.title2 {
    font-size: 23px;
    font-family: "Minecraft Seven", sans-serif;
}

.title3 {
    font-size: 20px;
    font-family: "Minecraft Seven", sans-serif;
}

.description {
    margin: 10px;
}

.description p {
    text-indent: 2em;
}

.description img {
    width: 100%;
}

.description1 {
    font-size: 18px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 4px 0;
    text-align: center;
}

.description2 {
    font-size: 16px;
    font-family: "NotoSans Bold", sans-serif;
    margin: 8px;
}

.description3 {
    font-size: 14px;
    font-family: "NotoSans Bold", sans-serif;
    width: 80px;
    margin-top: 4px;
}

a {
    color: inherit;
    position: relative;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 #FFFFFF;
}

.main_title {
    font-family: "NotoSans Bold", sans-serif;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_title_area {
    margin: 10px 0;
}

.main_title_span {
    font-size: 24px;
}

.main_block {
    font-family: "NotoSans Bold", sans-serif;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    border-left: 0;
    border-right: 0;
    padding: 0 16px;
    min-height: 80px;
}

.main_block_cont {
    min-height: 100px;
    margin: 10px 0;
}

/* 主体块 */
.block {
    margin: 0 20px;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    border-left: 2px solid #333334;
    border-right: 2px solid #333334;
}

.btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notice_img {
    width: 280px;
}

/* 块间隙 */
.block_spacing {
    height: 20px;
}

/* Banner区域 */
.banner_area {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner主体 */
.banner {
    font-family: "NotoSans Bold", sans-serif;
    margin: 10px 20px;
    padding: 4px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px);
    min-height: 30px;
    word-wrap: break-word;
    hyphens: auto;
    color: #FFFFFF;
}

.top_banner {
    margin-bottom: 0;
}

.banner_with_tab_bar {
    position: fixed;
    width: 100%;
    top: 44px;
}

.neutral_banner {
    background-color: #1E1E1F;
}

.information_banner {
    background-color: #2E6BE5;
}

.important_banner {
    font-weight: bolder;
    color: #000000;
    background-color: #FFE866;
}

.important_banner a {
    box-shadow: inset 0 -2px 0 0 #000000;
}

/* Badge */
.badge_area {
    display: flex;
    align-items: center;
}

.badge {
    width: 6px;
    height: 6px;
    margin-right: 6px;
}

.green_badge {
    background-color: #6CC349;
}

.blue_badge {
    background-color: #8CB3FF;
}

.yellow_badge {
    background-color: #FFE866;
}

.red_badge {
    background-color: #F46D6D;
}

/* Tag */
.tag {
    align-self: center;
    color: #000000;
    margin: 4px;
    padding: 0 2px;
    font-size: 12px;
}

.black_tag {
    color: #FFFFFF;
    background-color: #1E1E1F;
}

.green_tag {
    background-color: #6CC349;
}

.blue_tag {
    background-color: #8CB3FF;
}

.yellow_tag {
    background-color: #FFE866;
}

.red_tag {
    background-color: #F46D6D;
}

/* 表格属性 */
.table_area {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
    border: 1px solid #FFFFFF;
}

th {
    height: 40px;
}

td {
    height: 60px;
}

.table {
    display: flex;
    align-self: center;
    justify-self: center;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 600px;
}

.table-big {
    display: flex;
    align-self: center;
    justify-self: center;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 1000px;
}

.table td {
    min-width: 100px;
}

/* 表格底部信息区域 */
.info_area {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.info_area div {
    width: 100%;
    max-width: 1000px;
}

.info_text {
    margin-bottom: 0;
}

/* Divider分割线 */
divider {
    display: block;
    margin: 6px 0;
    height: 4px;
    width: 100%;
    box-shadow: inset 0 2px #333334, inset 0 -2px #5A5B5C;
}

/* Pop弹窗 */
.pop_area {
    display: none;
}

/* 页面底部信息 */
.page_info_title, .page_info {
    font-family: "NotoSans Bold", sans-serif;
    font-size: 12px;
    margin-left: 20px;
}

.page_info_title {
    color: rgba(255, 255, 255, 0.8);
}

.page_info {
    color: rgba(255, 255, 255, 0.4);
}

.page_info a {
    box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 0.4);
}

/* 全屏遮罩 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
}

/* 除了顶栏 */
.overlay_main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

/* 按钮 */
.btn {
    font-family: "NotoSans Bold", sans-serif;
    height: 40px;
    margin: 6px;
    justify-self: center;
    cursor: pointer;
}

.small_btn {
    width: 130px;
}

.middle_btn {
    width: 200px;
}

.large_btn {
    width: 272px;
}

.normal_btn {
    background-color: #D0D1D4;
    color: #000000;
    padding-bottom: 6px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #58585A, inset 3px 3px rgba(255, 255, 255, 0.6), inset -3px -7px rgba(255, 255, 255, 0.4);
}

.normal_btn:hover {
    background-color: #B1B2B5;
    box-shadow: inset 0 -4px #58585A, inset 3px 3px rgba(255, 255, 255, 0.8), inset -3px -7px rgba(255, 255, 255, 0.6);
}

.normal_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #B1B2B5;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.8), inset -3px -3px rgba(255, 255, 255, 0.6);
}

.green_btn {
    background-color: #3C8527;
    color: #FFFFFF;
    padding-bottom: 6px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #1D4D13, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.green_btn:hover {
    background-color: #2A641C;
    box-shadow: inset 0 -4px #1D4D13, inset 3px 3px rgba(255, 255, 255, 0.4), inset -3px -7px rgba(255, 255, 255, 0.3);
}

.green_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #1D4D13;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.4), inset -3px -3px rgba(255, 255, 255, 0.3);
}

.red_btn {
    background-color: #C33636;
    color: #FFFFFF;
    padding-bottom: 6px;
    border: 2px solid #1E1E1F;
    box-shadow: inset 0 -4px #AD1D1D, inset 3px 3px rgba(255, 255, 255, 0.2), inset -3px -7px rgba(255, 255, 255, 0.1);
}

.red_btn:hover {
    background-color: #C02D2D;
    box-shadow: inset 0 -4px #AD1D1D, inset 3px 3px rgba(255, 255, 255, 0.5), inset -3px -7px rgba(255, 255, 255, 0.4);
}

.red_btn:active {
    margin-top: 10px;
    height: 36px;
    padding-bottom: 2px;
    background-color: #AD1D1D;
    box-shadow: inset 3px 3px rgba(255, 255, 255, 0.5), inset -3px -3px rgba(255, 255, 255, 0.4);
}

.disabled_btn {
    background-color: #D0D1D4;
    color: #48494A;
    padding-bottom: 6px;
    border: 2px solid #8C8D90;
    box-shadow: inset 0 -4px #B1B2B5;
    cursor: not-allowed;
}

/* 带有图标的按钮 */
.link_img, .link_img_black {
    margin-bottom: -1.5px;
    height: 14px;
    width: 14px;
    padding-right: 6px;
}

/* 带有Tooltip的按钮 */
.btn_with_tooltip_cont {
    position: relative;
    display: inline-block;
}

.btn_tooltip {
    visibility: hidden;
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -30px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.6s;
}

.btn_with_tooltip_cont:hover .btn_tooltip {
    visibility: visible;
    opacity: 1;
}

.tip_icon {
    position: absolute;
    top: -2px;
    right: 0;
    z-index: 2;
    height: 20px;
}

/* Modal弹窗 */
#overlay_clear_storage_warning, #overlay_reload_page_warning, #overlay_version_info_modal, #overlay_disclaimer_modal, #overlay_donate_modal {
    z-index: 12;
}

#overlay_alert_modal {
    z-index: 14;
}

#overlay_first_visit_today_modal {
    z-index: 18;
}

#overlay_compatibility_modal {
    z-index: 20;
}

modal_area {
    display: none;
    z-index: 11;
    position: fixed;
    min-width: 320px;
    max-width: calc(min(600px, 100vw));
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #1E1E1F;
    outline: none;
}

#clear_storage_warning, #reload_page_warning, #version_info_modal, #disclaimer_modal, #donate_modal {
    z-index: 13;
}

#alert_modal {
    z-index: 15;
}

#first_visit_today_modal {
    z-index: 19;
}

#compatibility_modal {
    z-index: 21;
}

modal {
    display: block;
    background-color: #313233;
    color: #FFFFFF;
    text-align: center;
}

modal_title_area {
    display: block;
    height: 40px;
    font-size: 18px;
    position: relative;
    background-color: #48494A;
    box-shadow: inset 2px 2px rgba(255, 255, 255, 0.2), inset -2px -2px rgba(255, 255, 255, 0.1);
}

modal_title {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

modal_close_btn {
    position: absolute;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 8px);
    width: 32px;
    cursor: pointer;
}

modal_close_btn:hover, modal_close_btn:active {
    background-color: #58585A;
}

.modal_close_btn_img {
    height: 20px;
    width: 20px;
}

modal_content {
    padding: 10px 10px 10px 10px;
    display: block;
    min-height: 60px;
    max-height: calc(min(450px, calc(90vh - 150px)));
    overflow-y: auto;
    scrollbar-width: none;
}

modal_checkbox_area {
    background-color: #48494A;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
}

modal_button_area {
    background-color: #48494A;
    border-top: 2px solid #5A5B5C;
    border-bottom: 2px solid #333334;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_custom_btn {
    width: 100%;
}

modal_button_group {
    width: calc(100% - 20px);
}

modal_button_list {
    display: flex;
    align-items: center;
}

.modal_btn {
    width: calc(100% - 10px);
}